body {
  width:100%;
  height:100%;
  padding:0;
  margin: 0;
  background: #eee;
}

/* header styles  */

#header {
  margin:0;
  background-color: ;
  position: sticky;
  top: 0;
  left: 0;
}

/* logo styles */

#logo {
  display:block;
  text-align: center;
}

/* navbar styles */

.nav {
  padding:10px;
  text-align:center;
  display:block;
}
.nav ul li {
  list-style-type: none;
  display:inline;
  margin:20px;
}

.nav ul li a {
  color: #888;
  text-decoration: none;
}
.nav ul li a:hover {
  color:#bbb;
}

/* main content styles */
.main-content {
  width:80%;
  margin:auto;
}
.main-content div {
  display:inline-block;
  clear:both;
}





/* media queries */
@media screen and (min-width: 200px) and (max-width: 767px) {}